# GitHub CODEOWNERS File
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for the entire project
* @Snowiiii

# Protocol related changes
crates/pumpkin-protocol/ @Snowiiii @xRookieFight
crates/pumpkin/src/net/ @Snowiiii @xRookieFight

# Bedrock related changes
assets/bedrock/ @ZlordHUN @xRookieFight
crates/pumpkin-protocol/src/bedrock/ @ZlordHUN @xRookieFight @QuantumSegfault
crates/pumpkin/src/net/bedrock/ @ZlordHUN @xRookieFight @QuantumSegfault

# Command related changes
crates/pumpkin/src/command/ @aure31

# Plugin related changes & WASM Host
crates/pumpkin-plugin-api/ @vyPal @yunuservices
crates/pumpkin-plugin-wit/ @vyPal @yunuservices @QuantumSegfault
crates/pumpkin-api-macros/ @vyPal @yunuservices
crates/pumpkin/src/plugin/ @vyPal @yunuservices @QuantumSegfault

# Documentation related changes
*.md @Q2297045667
docs/ @Q2297045667

# Mob & projectile related changes
crates/pumpkin/src/entity/mob/ @Snowiiii @RoosterBooster007
crates/pumpkin/src/entity/projectile/ @Snowiiii @RoosterBooster007

# Block & item related changes
crates/pumpkin/src/block/ @Snowiiii @RoosterBooster007
crates/pumpkin/src/item/ @Snowiiii @RoosterBooster007

# World generation feature & noise related changes
crates/pumpkin-world/src/generation/feature/ @Snowiiii @RoosterBooster007
crates/pumpkin-world/src/generation/noise/ @Snowiiii @RoosterBooster007